[submodule "libuv"]
	path = node_build/dependencies/libuv
	url = https://github.com/tigusoft-vm/libuv.git
	branch = cjdns-libuv1.x

[submodule "gyp"]
	path = node_build/dependencies/gyp
	url = https://chromium.googlesource.com/external/gyp
	branch = master

