[submodule "libuv"]
	path = node_build/dependencies/libuv
	url = ../libuv.git 
	branch =  cjdns_libuv_apicjd

[submodule "gyp"]
	path = node_build/dependencies/gyp
	url = https://chromium.googlesource.com/external/gyp
	branch = master
